<h2>Your answer :</h2>

<% if @student_answer %>
  <%= link_to @student_answer.content, student_answer_path(@student_answer) %>
  <% else %>
  There is no answer yet.
<% end %>

<br>

<h2>Your mentor reviews :</h2>

<% if !@student_answer %>
    Please wait for the student answer.
<% end %>

<% if @student_answer && !@mentor_reviews %>
  If mentor : Post you review:
    <%= form_for([@student_answer, @student_answer.mentor_reviews.build]) do |m| %>
      <p><%= m.label :content %>
      <%= m.text_field :content %></p>
      <%= m.submit%>
    <% end %>
<% end %>

<br>