<h2>Your answers to review :</h2>

<% @student_answers.each do |student_answer| %>
  <p><%= student_answer.student.first_name %> <%= student_answer.student.last_name %> :
    "<%= student_answer.content %>"</br>
    <% if student_answer.mentor_reviews.first %>
      Your review : <%= student_answer.mentor_reviews.first.content %>"

      <% else %>
      Please review the answer.
      <%= link_to "Add your review", student_answer_path(student_answer) %></br>
    <% end %>


  </p>
<% end %>

</br>

<% if !@student_answers %>
    Please wait for answers.
    <% else %>
      <%= link_to '>> Mentor, review your student answers', reviews_path %>
<% end %>

<% if @student_answer && !@mentor_reviews %>
  If mentor : Post you review:
    <%= form_for([@student_answer, @student_answer.mentor_reviews.build]) do |m| %>
      <p><%= m.label :content %>
      <%= m.text_field :content %></p>
      <%= m.submit%>
    <% end %>
<% end %>

<br>