<h2>Your answer :</h2>

<% if @student_answer %>
  <div class="well">
    "<%= @student_answer.content %>"</br>
    <% if @student_answer.file_file_name %>
      <%= link_to '>> view attached file', @student_answer.file.url %>
    <% end %>
  </div>
  <em>Options: </em>
  <%= link_to "view", student_answer_path(@student_answer) %>
  -- <%= link_to "edit", edit_student_answer_path(@student_answer)%>
  -- <%= link_to "destroy", student_answer_path(@student_answer), method: :delete %>
  <% else %>
  Please answer the question:
    <%= form_for([@question, @question.student_answers.build]) do |a| %>

      <% if @question.kind == "quizz" %>
        <!-- CODE SEULEMENT SI LA QUESTION EST UN QUIZZ -->
        <% @question.question_answers.each do |answer| %>
          <div class="radio">
            <label>
              <%= a.radio_button :content, answer.content %>
              <%= answer.content %>
            </label>
          </div>
        <% end %>
        <!-- CODE SEULEMENT SI LA QUESTION EST UN QUIZZ -->
      <% elsif @question.kind == "text" %>
        <!-- CODE SEULEMENT SI LA QUESTION EST UN TEXT -->
        <p>
          <%= a.label :your_answer %>
          <%= a.text_area :content, class: "form-control little-margin-bottom", row: 3 %></p>
        <p>
          <%= a.label :Attach_a_file %>
          <%= a.file_field :file %>
        </p>
        <!-- CODE SEULEMENT SI LA QUESTION EST UN TEXT -->
      <% end %>
      <%= a.submit "Submit", class: "btn btn-default btn-primary" %>
    <% end %>
<% end %>

<br>

<h2>Your mentor review :</h2>

<% if @mentor_reviews %>
    <%= @mentor_reviews.content %>
  <% else %>
    You don't have any mentor review.
<% end %>

<br>