<h1>Question : #<%= @question.id %></h1>
<h4><em>from this unit : <%= @unit.title %></em></h4>

<br>

<h2><%= @question.content %></h2>

<p><em><%= @question.instructions %></em></p>

<br>

<% if current_user.status == "student" %>
    <%= render 'questions/student_question' %>
  <% elsif current_user.status == "mentor" %>
    <%= render 'questions/mentor_question' %>
  <% elsif current_user.status == "admin" %>
    <%= render 'questions/mentor_question' %>
<% end %>

<h2>All questions :</h2>
<% @others_questions.each do |question| %>
  <p>
    <strong><%= link_to question.content, question_path(question) %></strong>
  </p>
<% end %>