<!-- courses listing -->
<% @courses.each do |course| %>
  <div class="container"><!-- container start -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag 'course_image.jpg', height: 105, width: 195 %>
        </div>
        <div class="col-md-6">
          <h4><%= link_to course.title, course_path(course) %></h4>
          <%= course.description %>
        </div>
        <div class="col-md-3 center">
          <em> course mentored by <%= course.owner.full_name %> </em></br>
          <img height="42" width="42" src="http://d1ijjxzthis87e.cloudfront.net/static/main/images/homepage_v2/mentors/charlene.280d3d074b14.png">
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- end courses listing -->





<!-- OLD COURSE LISTING -->
<!-- <div>
    <% @courses.each do |course| %>
      <tr>
        <div class="course-block">
        <h3><%= link_to course.title, course_path(course) %></h3>
        <td><%= course.description %></td>
        <td>
          <p>
            <em> course mentored by <%= course.owner.full_name %> </em>
            <img height="42" width="42" src="http://d1ijjxzthis87e.cloudfront.net/static/main/images/homepage_v2/mentors/charlene.280d3d074b14.png">
          </p>
        </td>
        </div>
      </tr>
    <% end %>
</div> -->