<div>
  <%= form_for([@course, @course.enrollments.build]) do |b| %>
    <%= b.submit "Enroll" , :class => 'btn btn-success' %>
  <% end %>
</div>

<h2>Le modules du cours</h2>
<% @course.units.reverse.each do |unit| %>
    <p>
      <strong><%= unit.title %></strong></br>
      <%= unit.description %>
    </p>
  <% end %>

<h2>Les 3 derniers élèves inscrits</h2>
<% @course.users.last(3).each do |user| %>
    <p>
      <%= user.full_name %>
    </p>
  <% end %>