<h1><%= @course.title %></h1>

<h2>Course details</h2>

<p><strong>Description : </strong><%= @course.description %></p>

</br>

<div>
  <% if @course.users.exclude?(current_user) %>
      <%= form_for([@course, @course.enrollments.build]) do |b| %>
      <%= b.submit "Enroll" , :class => 'btn btn-success' %>
      <% end %>
    <% else %>
      <p class="btn btn-info disabled">Enrolled</p>
  <%end%>
</div>

<h2>Le modules du cours</h2>
<% @course.units.reverse.each do |unit| %>
    <p>
      <strong><%= link_to unit.title, unit_path(unit) %></strong></br>
      <%= unit.description %>
    </p>
  <% end %>

<h2>Les élèves</h2>
<% @course.users.each do |user| %>
    <p>
      <%= user.full_name %>
    </p>
  <% end %>