<h1><%= @unit.title %></h1>

<h3>Unit details</h3>

<p><strong>Description : </strong><%= @unit.description %></p>

<h2>Guides :</h2>
  <% @unit.guides.each do |guide| %>
    <p>
      <strong><%= link_to guide.title, guide_path(guide) %></strong></br>
      <%= guide.description %>
    </p>
  <% end %>

<h2>Assignments :</h2>
<% @unit.assignments.each do |assignment| %>
  <p>
    <strong>Assignment #<%= link_to assignment.id, assignment_path(assignment) %></strong>
  </p>
<% end %>
