<% if @student_answer.mentor_reviews.first %>
    <p>Mentor, your review is: <%= @student_answer.mentor_reviews.first.content %></p>
  <% else %>
    <p>Mentor, post you review:</p>
    <%= form_for([@student_answer, @student_answer.mentor_reviews.build]) do |m| %>
      <%= m.label :content %>
      <%= m.text_area :content, class: "form-control rows='3' little-margin-bottom" %>
      <%= m.submit "Submit", class: "btn btn-default btn-primary" %>
    <% end %>
<% end %>