

<% if @student_answer.mentor_reviews.first %>
    <p>Mentor, your review is: <%= @student_answer.mentor_reviews.first.content %></p>
  <% else %>
    <p>Mentor, post you review:</p>
    <%= form_for([@student_answer, @student_answer.mentor_reviews.build]) do |m| %>
      <p><%= m.label :content %>
      <%= m.text_field :content %></p>
      <%= m.submit%>
    <% end %>
<% end %>