<div class="container"><!-- container start -->
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 ">

        Question is : <%= @student_answer.question.content %>

        </br>

        Your answer is :
        <%= @student_answer.content %>

        </br></br>

        Edit your answer question:
        <%= form_for @student_answer do |a| %>
          <p>
            <%= a.label :content %>
            <%= a.text_area :content, class: "form-control rows='3' little-margin-bottom" %>
          </p>
          <p>
            <%= a.label :Attach_a_file %>
            <%= a.file_field :file %>
          </p>
          <%= a.submit "Submit", class: "btn btn-default btn-primary" %>
        <% end %>

    </div><!-- col end -->
  </div><!-- row end -->
</div><!-- container end -->