<div class="container"><!-- container start -->
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 ">

        <h1><%= @student_answer.student.first_name %> answer:</h1>

        <p>
          <div class="well">
            <strong>Student:</strong> <%= @student_answer.student.first_name %> <%= @student_answer.student.last_name %>
            <strong>His answer:</strong> "<%= @student_answer.content %>"</br></br>
            <% if @student_answer.file_file_name %>
              <%= link_to '>> view attached file', @student_answer.file.url(:medium) %>
            <% end %>
          </div>
        </p>

        <% if current_user.status == "student" %>
            <%= render 'student_answers/student_show_review' %>
          <% elsif current_user.status == "mentor" %>
            <%= render 'student_answers/mentor_show_student_answer' %>
          <% elsif current_user.status == "admin" %>
            <%= render 'student_answers/mentor_show_student_answer' %>
        <% end %>

    </div><!-- col end -->
  </div><!-- row end -->
</div><!-- container end -->

