<!DOCTYPE html>
<html>

  <head>
    <title>Webmarketingcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>

        <%= render 'layouts/nav' %>

    <div class="container"><!-- container start -->
      <div class="row">


        <%= render 'layouts/messages' %>

      </div>
    </div><!-- container end -->

      <div>
        <%= yield %>
      </div>

  </body>

</html>

