<!DOCTYPE html>
<html>

  <head>
    <title>Webmarketingcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>



  <body>

    <div class="container"><!-- container start -->

    <%= render 'layouts/nav' %>
    <div class="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="padding_div">
      <%= yield %>
    </div>

  </div><!-- container end -->

  </body>



</html>
