<h2>Your courses :</h2>

<% current_user.courses.each do |course| %>
  <p><%= link_to course.title, course %></p>
<% end %>

<h2>Your lasts reviews :</h2>

<% @student_answers.last(3).each do |student_answer| %>
  <strong>Question : <%= link_to student_answer.question.content, question_path(student_answer.question) %></strong></br>
    <em>Student answer : <%= student_answer.content %> </br></em>
    <% if student_answer.mentor_reviews.first %>
      <em>Mentor answer : <%= student_answer.mentor_reviews.first.content %> </br></em></br>
      <% else %>
      <em>No mentor review yet.</em>
    <% end %>
<% end %>
</br></br>
<%= link_to '>> View all', reviews_path %>